name: Release Pipeline

on:
  push:
    branches:
      - main

jobs:
  semantic-release:
    name: Release Pipeline
    runs-on: ubuntu-latest
    concurrency: release
    permissions:
      id-token: write
      contents: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Python Semantic Release
        id: release
        uses: python-semantic-release/python-semantic-release@master
        with:
          github_token: ${{ secrets.GIT_ACTIONS_SECRET }}

      - name: Update pyproject.toml version
        run: |
          VERSION="${{ steps.release.outputs.version }}"
          echo "Updating pyproject.toml to version $VERSION"

          sed -i "s/^version = \".*\"/version = \"$VERSION\"/" pyproject.toml

          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git add pyproject.toml
          git commit -m "bump version to $VERSION"
          git push